@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject KTB.Data.ApplicationDbContext _context


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a asp-controller="Orders" asp-action="Index" class="nav-link text-dark">
                <span class="fa fa-shopping-cart"></span>
                Cart
                @if (!User.IsInRole("Admin"))
                {
                    <span style="padding:4px; border-radius:2em; background-color:red; font-weight:bold; color:white;">@_context.Order.Where(a => a.UserId == UserManager.GetUserId(User)).Where(a=>a.Status==OrderState.InCart).Count()</span>
                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        
        <li class="nav-item">
            <a class="nav-link text-dark"><span class="fa fa-shopping-cart"></span> Cart </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
